:root {
    /* Primarios */
    --desaturedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    /* Secundarios */
    --darkGrayishRed: hsl(0, 6%, 24%);

    /* Fuente */
    --fuentePrincipal: 'Josefin Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;    
}

@media (max-width: 430px) {
    .nav {
        width: 100%;
        height: 7rem;
    }
    .nav .logo {
        margin-left: 10%;
        margin-top: 6%;
        width: 11rem;
    }
    .contenedorDesktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heroDesktop {
        display: none;
    }
    .logoDesktop {
        display: none;
    }
    main .background {
        margin: 0;
        padding: 0;
        background-image: url(../images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 25rem;
    }
    section {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contenedor {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    .contenedor h1{
        margin-top: 5rem;
        font-size: 5rem;
        text-align: center;
        letter-spacing: 10px; 
        color: var(--darkGrayishRed);
        font-weight: 600;    
        margin-bottom: 3rem;  
    }
    .contenedor h1 span {
        color: var(--desaturedRed);
        font-weight: 300;
    }
    .contenedor p {
        margin-top: 0;
        font-size: 1.6rem;
        line-height: 1.3;
        font-weight: 400;
        text-align: center;
        color: var(--desaturedRed);
        line-height: 1.6; 
        margin-bottom: 3rem;       
    }
    form {        
        width: 100%;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .invalid {
        border: 2px solid red !important;
    }
    .valid {
        border: 2px solid green !important;
    }
    #email {
        width: 100%;
        height: 5rem;
        border-radius: 30px;
        border: 1px solid hsla(0, 36%, 70%, 0.555);
        padding-left: 2rem;
    }
    #btn {
        margin-left: -5rem;
        width: 6rem;
        height: 5rem;
        border-radius: 30px;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0,74%,74%));
        border: 0;
        display: flex;       
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-shadow: 0px 20px 50px -10px #000000; 
        box-shadow: 0px 20px 50px -10px #000000;
    }
    #email::placeholder {
        color: var(--desaturedRed);
        text-indent: 10rem;
    }
    #error {
        margin: 0;
        margin-left: -10rem;
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;        
    }
}
@media (min-width: 431px) {
    .nav {
        display: none;
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedorDesktop {
        margin-top: 15rem;
        width: 120rem;
        height: 60rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 9px 12px 25px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 9px 12px 25px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 12px 25px -6px rgba(0,0,0,0.75);
    }
    .contenedorDesktop .heroDesktop {
        height: 60rem;
    }
    .contenedor {
        width: 80%;
        margin-left: 13rem;
        margin-right: 21rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .logoDesktop {
        margin-top: -2.3rem;
        margin-bottom: 3rem;
    }
    .contenedor h1{
        font-size: 6rem;
        text-align: left;
        letter-spacing: 2rem;
        color: var(--darkGrayishRed);
        font-weight: 600;
        margin-bottom: 0;
    }
    .contenedor h1 span {
        color: var(--desaturedRed);
        font-weight: 300;
    }
    .contenedor p{
        line-height: 2.3rem;
        color: var(--desaturedRed);
    }
    form {
        width: 100%;            
    }
    .flex {
        display: flex;
        flex-direction: row;        
    }
    #resultado {
        margin-top: 2rem;
    }
    #email {
        width: 100%;
        height: 5rem;
        border-radius: 30px;
        border: 1px solid var(--desaturedRed);
        margin: 0;
        padding-left: 2rem;
        color: var(--desaturedRed);
        margin-top: 2rem;
    }
    #btn {
        margin-top: 2rem;
        margin-left: -4rem;
        height: 5rem;
        width: 8rem;
        border-radius: 30px;
        border: 0;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0,74%,74%));    
        cursor: pointer;
        box-shadow: 9px 12px 25px -11px rgba(0,0,0,0.75);
        -webkit-box-shadow: 9px 12px 25px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 12px 25px -11px rgba(0,0,0,0.75);
       
    }
    #btn:hover {
        background-color: var(--softRed);
    }
    #error {
        margin-left: -12rem;
        height: 3rem;
        width: 3rem;
        margin-top: 3rem;        
    }
    .invalid {
        border: 2px solid red !important; 
    }
    .valid {
        border: 2px solid green !important;
    }
}